body{
    background-color: #ffcc99
}
#wrapper{
    margin: auto;
    height: 700px;
    width: 1000px;
    text-align: center;
}
#banner{
    margin: 0;
    text-align: center;
    font-size: 4em;
    
}
#banner a{
    padding: 60px;
    text-decoration: none;
    color: #660000;
    background-color: #ff9999;
    display: block;
    width: 996px;
    height: 80px;
}
#lewy{
    margin: 0;
    float: left;
    width: 250px;
}
div#lewy ul{
    margin: 0;
    list-style: none;
    padding: 0;
}
div#lewy ul li{
    margin: 0;
    padding: 0;
}
div#lewy ul li a{
    text-decoration: none;
    display: inline-block;
    border: solid thin brown;
    background-color: #ffcccc;
    color: brown;
    margin: 0;
    padding: 20px;
    width: 200px;
    
}
div#lewy ul li a:hover{
    background-color: brown;
    color: #ff9999;
}
div#content{
    float: left;
    width: 650px;
    margin: 0;
    margin-left: 20px;
    margin-top: 10px;
    text-align: left;
}
div#footer{
    clear: both;
}

table.workers{
    border-collapse: collapse;
    margin: auto;
    
}
table.workers tr th{
    background-color: #660000;
    color: #ffcccc;
}
table.workers tr td{
    background-color: #ffcccc;
    color: #660000;
}
th,td{
    padding: 10px;
    border: solid 1px #330000;
}
table.workers tr:hover td{
     background-color: #660000;
    color: #ffcccc;
}
div.line{
    margin: 10px;
}
label{
    display: inline-block;
    width: 150px;
    text-align: right;
}
span.error{
    color: red;
}
input[type=submit]{
    background-color: #330000;
    color: #ffcccc;
    padding: 10px;
    width: 170px;
    border: solid #ffcccc 2px;
}
form#dodaj{
    background-color: #ffcccc;
    padding: 20px;
    color: #330000;
}